@import './libs/tailwind.scss';

@font-face {
	font-family: 'Cocomat'; /* Имя шрифта */
	src: url('../fonts/cocomat-pro-black.ttf') format('truetype'); /* Путь к файлу шрифта */
	font-weight: normal; /* Нормальный вес шрифта */
	font-style: normal; /* Нормальный стиль шрифта */
}

@font-face {
	font-family: 'Montserrat'; /* Имя шрифта */
	src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'); /* Путь к файлу шрифта */
}
@font-face {
	font-family: 'American Captain'; /* Имя шрифта */
	src: url('../fonts/Captain/americancaptaincyrillic.ttf') format('truetype'); /* Путь к файлу шрифта */
}

#root {
	width: 100%;
	flex: 1;

	iframe {
		display: none;
	}
}

body,
html {
	width: 100%;

	p {
		font-family: 'Montserrat';
		color: #615852;
		font-weight: 400;
		font-size: 20px;
		line-height: normal;
		text-align: center;
		max-width: 565px;
		padding-left: 20px;
		padding-right: 20px;
		white-space: pre-wrap;
	}
	li {
		font-family: 'Montserrat';
		color: #615852;
		font-weight: 400;
		font-size: 20px;
		line-height: normal;
		text-align: left;
		max-width: 610px;
		list-style-type: disc;
		padding-left: 40px;
		padding-left: 20px;
		padding-right: 20px;
		white-space: pre-wrap;
	}

	h1 {
		font-family: 'Cocomat';
		color: #4971e3;
		font-weight: 400;
		font-size: 56px;
		line-height: 100%;
		text-transform: uppercase;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		white-space: pre-wrap;
	}
	h2 {
		font-family: 'Cocomat';
		color: #4971e3;
		font-weight: 400;
		font-size: 48px;
		line-height: 100%;
		text-align: center;
		padding-left: 20px;
		white-space: pre-wrap;
		padding-right: 20px;
	}
	h3 {
		font-family: 'Cocomat';
		color: white;
		font-weight: 400;
		font-size: 42px;
		line-height: 100%;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		white-space: pre-wrap;
	}

	.pink {
		color: #f1b7b6;
	}
	.white {
		color: white;
	}
	.wide-text {
		max-width: 647px;
		text-align: left;
	}
	.cell {
		max-width: calc(100% - 40px);
		width: 657px;

		font-family: 'Cocomat';
		color: #fff;
		font-weight: 400;
		font-size: 42px;
		line-height: 100%;
		text-transform: uppercase;
		text-align: center;
		border-radius: 70px;
		padding: 37px 30px 27px;
		margin: 30px 0px 20px;
		white-space: pre-wrap;
	}
	.cell.blue {
		background-color: #4971e3;
	}
	.cell.pink {
		background-color: #f89bb0;
	}

	@media (max-width: 700px) {
		p,
		li {
			max-width: 100%;
			font-size: 16px;
		}
		h1 {
			max-width: 100%;
			font-size: 48px;
		}
		h2 {
			max-width: 100%;
			font-size: 44px;
		}
		h3 {
			max-width: 100%;
			font-size: 34px;
		}
		.cell {
			font-size: 37px;
		}
	}
	@media (max-width: 510px) {
		h1 {
			font-size: 36px;
		}
		h2 {
			font-size: 34px;
		}
		h3 {
			font-size: 26px;
		}
		.cell {
			font-size: 28px;
			padding: 30px 30px 20px;
		}
	}
}

body {
	display: flex;
	flex-direction: column;

	#form-popup {
		position: fixed;
		width: 400px;
		height: fit-content;
		background-color: #ffc4d2;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale(0.8);
		border-radius: 20px;
		padding: 50px 20px;
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		* {
			white-space: unset;
		}

		.close-img {
			width: 30px;
			height: 30px;
			position: absolute;
			right: 10px;
			top: 10px;
			opacity: 0.7;
			cursor: pointer;
		}

		form {
			height: fit-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;
		}

		#error-message {
			text-align: left;
			font-size: 16px;
		}
		input[type='text'],
		input[type='email'],
		input[type='tel'],
		.text-input {
			padding: 10px 20px;
			width: 100%;
			border-radius: 20px;
			height: 70px;
			border: 1px solid #717171;
			font-size: 18px;
		}
		input[type='text']:focus,
		input[type='email']:focus,
		input[type='tel']:focus,
		.text-input {
			outline: none;
		}

		.checkbox_container {
			width: 100%;
			height: fit-content;
			label {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				width: 100%;
				align-items: flex-start;
				text-indent: 0%;

				input {
					margin-top: 7px;
				}

				span {
					text-align: left;
					margin-left: 10px;
					text-indent: 0px;
					display: inline;

					a {
						color: #4d7da3;
						display: inline;
					}
					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
		button {
			height: 60px;
			width: 300px;
			align-self: center;
		}
		button:hover {
			transform: scale(1.1);
		}
	}
}
